
<%-  include("header"); -%> 

<h1>About us</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quo exercitationem reiciendis deleniti dolorum cumque iusto itaque cum consequuntur atque. Corrupti ipsa hic nisi autem ipsum, accusamus sunt numquam delectus!</p>

<%- include("footer"); -%> 